// VARIABLES ================================
$userWords: 'Reenie Beanie', cursive;
$bodyText: 'Bentham', sans-serif;

$fontColor: #353E45;
$siteBackground: #F5EDF0;
$darkBrown: #3D2C2E;
$gold: #BDA549;
$green: #74B492;
$palePurple: #D2CEED;


// MIXINS ===================================
@mixin button {
   font-family: $bodyText;
   color: $fontColor;
   font-weight: 700;
   padding: 10px 20px;
   background: $siteBackground;
   border: 2px solid $darkBrown;
   cursor: pointer;
}

@mixin buttonHover {
   background-color: $gold;
   border: 2px solid $darkBrown;
}

