
// MINOR: Reduce leaderboard grid size to 1 column
@media (max-width: 700px) {
   .leaderboard .leaderboardGrid {
      grid-template-columns: 1fr;
   }
}

// MINOR: Reduce font-size of header h1 and user name input
@media (max-width: 565px) {
   header h1 {
      font-size: 2rem;
   }

   header .userName input {
      font-size: 1.5rem;
   }
}

//MAJOR: Adjust layout of header so that user name input is underneath the title
//MINOR: make the madlib prompt inputs a bit smaller so they don't hit the edge of the screen
@media (max-width: 472px) {
   header h1 {
      grid-column: 2 / 4;
   }

   header .userName {
      grid-column: 2 / 4;
   }

   header p {
      grid-row: 3;
   }

   .madlibPrompts input {
      width: 80%;
      font-size: 1.25rem;
   }
}