.madlibPrompts {
   margin-bottom: 20px;
   min-height: 50vh;
   display: grid;
   grid-template-columns: 1fr 9fr;
   grid-gap: 10px;

   .formContainer {
      display: grid;
      width: 100%;
      grid-column: 2;
      grid-template-columns: max-content 70%;
      grid-gap: 10px;
   }

   label {
      padding: 0 5px;
      margin-bottom: 2px;
      text-align: right;
      text-transform: capitalize;
      align-self: end;
      border-left: 1px solid $green;
      width: 100%;
   }

   input {
      margin-bottom: 1px;
      align-self: end;
      border-bottom: 1.5px solid $fontColor;

      &:hover, 
      &:focus {
         background: $palePurple;
      }
   }
}